<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="img/icona.png">
    <title>Boolzap</title>
</head>
<body>
    <div class="layout-back"></div>

    <section id="container">
        <nav>
            <section id="nav-header">
                <img src="img/avatar_io.jpg">
                <h3>Nome Utente</h3>
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </section>

            <section id="nav-main">
                <section id="notifications">
                    <i class="fas fa-bell-slash"></i>
                    <div id="text-notifications">
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <a href="">Attiva notifiche Dekstop</a>
                    </div>
                </section>

                <section id="search-contacts">
                    <input type="text" v-model="researchContact"  placeholder="&#xF002     Cerca o inizia una nuova chat" style="font-family:Arial, FontAwesome">
                </section>

                <section class="container-contacts">
                    <ul>
                        <li v-if="contact.name.includes(researchContact)" v-for="contact, i in contacts" :key="i" @click="selectContact(i)" :class="i === activeContact ? 'active' : '' ">
                            <img :src="contact.avatar" class="img-contacts">
                            <div class="text-contacts">
                                <h3>{{contact.name}}</h3>
                                <p>{{contact.messages[contact.messages.length -1].text}}...</p>
                            </div>
                            <span class="date-contacts">{{contact.messages[contact.messages.length -1].date}}</span>
                        </li>
                    </ul>
                </section>
            </section>
        </nav>

        <section id="chat">
            <section id="chat-header">
                <img :src="contacts[activeContact].avatar">
                <div class="text-chat">
                    <h3>{{contacts[activeContact].name}}</h3>
                    <span>Ultimo accesso il {{contacts[activeContact].messages[contacts[activeContact].messages.length -1].date}}</span>
                </div>
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
            </section>

            <section id="chat-main">
                <ul>  
                    <li v-for="message, i in contacts[activeContact].messages" :class="message.status" :key="(i)">
                        <div>
                            <p>{{message.text}}</p> 
                            <span class="date-chat">{{message.date}}</span>
                            <div class="dropdown">
                                <button class="dropbtn fas fa-chevron-down"></button>
                                <div class="dropdown-content">
                                  <a href="#">info</a>
                                  <a href="#" @click="removeMessage(i)">Delete</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>

            <section id="input-chat">
                <i class="far fa-smile"></i>
                <input type="text" v-model="newMessage.text" @keyup.enter="addMessage" placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone"></i>
            </section>
        </section>
    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="script.js"></script>
</body>
</html>