* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9dbd4;
    position: relative;
}

.layout-back {
    height: 150px;
    background-color: #019588;
}

#container {
    position: absolute;
    top: 20%;
    left: 4%;
}

/* nav */
nav {
    display: inline-block;
    background-color: #eaeaea;
}

#nav-header {
    display: flex;
    align-items: center;
}

#nav-header img {
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

#nav-header h3 {
    margin-right: 150px;
}

i {
    font-size: 20px;
    color: #b1b1b1;
    margin-right: 15px;
    cursor: pointer;
}

#notifications {
    display: flex;
    align-items: center;
    background-color: #8ddafb;
}

#notifications i {
    display:  inline-block;
    background-color: #fff;
    color: #8ddafb;
    border-radius: 50%;
    padding: 12px 10px;
    margin: 10px;
}

#text-notifications {
    display:  inline-block;
}

#notifications a {
    display:  block;
    color: #6a7376;
}

#search-contacts {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-contacts input{
    height: 70%;
    width: 97%;
    border: none;
    border-radius: 5px;
}

#container-contacts {
    height: 600px;
}

#container-contacts ul {
    list-style-type: none;
}

#container-contacts li {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 1px;
    cursor: pointer;
}

.img-contacts {
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.text.img-contacts {
    display: inline-block;
}
/* /nav */

/* chat */
#chat {
    display: inline-block;
}

#chat-header {
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    border-left: 1px solid #b1b1b1;
}

#chat-header img {
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    background-color: #eaeaea;
}

.text-chat {
    display: inline-block;
    margin-right: 300px;
}

.text-chat span {
    color: #6a7376;
}

#chat-main {
    height: 500px;
    background-image: url(img/backround-img.jpg);
}

.user {
    display: block;
    float: right;
    background-color: #d5f9ba;
    padding: 20px 10px;
    border-radius: 10px;
    margin: 5px;
}

.interlocutor {
    display: block;
    float: left;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    margin: 5px;
}

#input-chat {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #f3eee9;
}

#input-chat i {
    color: #6a7376;
    margin: 30px;
}

#input-chat input {
    height: 80%;
    width: 100%;
    border: none;
    border-radius: 20px;
}
/* /chat */