* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #d9dbd4;
}

.layout-back {
    height: 150px;
    background-color: #019588;
    z-index: 0;
}

#container {
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: -100px;
}

/* Nav */
nav {
    display: inline-block;
    background-color: #eaeaea;
}

/* Nav Header */
#nav-header {
    display: flex;
    align-items: center;
}

#nav-header img {
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

#nav-header h3 {
    margin-right: 150px;
}

i {
    font-size: 20px;
    color: #b1b1b1;
    margin-right: 15px;
    cursor: pointer;
}
/* /Nav Header */

/* Notifiche */
#notifications {
    display: flex;
    align-items: center;
    background-color: #8ddafb;
}

#notifications i {
    display:  inline-block;
    background-color: #fff;
    color: #8ddafb;
    border-radius: 50%;
    padding: 12px 10px;
    margin: 10px;
}

#text-notifications {
    display:  inline-block;
}

#notifications a {
    display:  block;
    color: #6a7376;
}
/* /Notifiche */

/* Ricerca contatti */
#search-contacts {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-contacts input {
    height: 70%;
    width: 97%;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
}

#search-contacts input::placeholder {
    color: #d8d9da;
}
/* /Ricerca contatti */

/* Contatti */
.container-contacts {
    overflow: scroll;
}

ul {
    list-style-type: none;
}

.container-contacts li {
    background-color: #fff;
    margin: 1px;
    cursor: pointer;
    position: relative;
}

.container-contacts li:hover {
    background-color: #d6d6d6;
}

.container-contacts .active {
    background-color: #d6d6d6;
}

.img-contacts {
    display: inline-block;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.text-contacts {
    display: inline-block;
    position: absolute;
    top: 10px;
}

.text-contacts p {
    color: #6a7376;
    font-size: 13px;
}

.date-contacts {
    float: right;
    color: #6a7376;
    margin: 10px;
    font-size: 13px;
}
/* /Contatti */
/* /Nav */

/* Chat */
#chat {
    display: inline-block;
}

/* Chat header */
#chat-header {
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    border-left: 1px solid #d6d6d6;
}

#chat-header img {
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    background-color: #eaeaea;
}

.text-chat {
    display: inline-block;
    margin-right: 300px;
}

.text-chat span {
    color: #6a7376;
}
/* /Chat header */

/* Messaggi */
#chat-main {
    display: flex;
    flex-direction: column;
    height: 665px;
    background-color: #e5ddd5;
    overflow: scroll;
}

#chat-main p {
    display: inline-block;
}

.sent {
    display: flex;
    justify-content: right;
    margin-right: 65px;
}

.sent div {
    background-color: #d5f9ba;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.received {
    display: flex;
    justify-content: left;
    margin-left: 65px;
}

.received div {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.date-chat {
    display: block;
    color: #6a7376;
    font-size: 13px;
}

.dropbtn {
    background: none;
    color: #000;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    border: 1px solid #000;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: rgba(134, 134, 134, 0.199);
    border-radius: 10px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
/* /Messaggi */

/* Barra inserimento messaggi */
#input-chat {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #f3eee9;
}

#input-chat i {
    color: #6a7376;
    margin: 30px;
}

#input-chat input {
    height: 80%;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
}
/* /Barra inserimento messaggi */
/* /Chat */